body,th,td,div,p,h1,h2,li,dt,dd {
 font-family: Tahoma, Verdana, Arial, sans-serif;
}

body {
 margin: 0px;
 color: #333333;
 background-color: #ffffff;
}

a:link {
 color: #006486;
}
a:active {
 color: #1d93b6;
}
a:hover {
 color: #64bfdb;
}
a:visited {
 color: #4e5265;
}

a img {
 border: 0px;
 color: #ffffff; /* makes border disappear in ns4 (sometimes) */
}

#submit {
 background: #ffffff;
 color: #006699;
 width: 125px;
 font-weight: normal;
 border: 1px #006699 solid;
 font-size: 10px;
 voice-family: "\"}\"";
 voice-family: inherit;
 padding: 3px 4px; /* stupid ns4. */
}

#oldsubmit {
 background: #006699;
 color: #ffffff;
 font-weight: bold;
 border: 1px #bdcebb;
 font-size: 10px;
 voice-family: "\"}\"";
 voice-family: inherit;
 padding: 3px 4px; /* stupid ns4. */
}

#nav {
 background-color: #ffffff;
 height: 19px;
 width: 100%;
 vertical-align: bottom;
}
#nav #right {
 width: 100%;
}
#nav td {
 font-size: 12px;
 padding: 0px 4px 0px 10px;
 background: #006699;
 border-bottom: 2px solid #dddddd;
 vertical-align: bottom;
 text-align: left;
 white-space: nowrap;
}
#nav td.sep {
 padding: 0px;
 border-bottom: 1px solid #ffffff;
 border-bottom: none;
}
#nav td.sep img {
 padding: 0px;
 display: block;
}
#nav td.logo {
  background: #ffffff;
}
#nav a:link {
 text-decoration: none;
 color: #ffffff;
}
#nav a:visited {
 text-decoration: none;
 color: #ffffff;
}
#nav a:hover {
 text-decoration: underline;
}

#normtable {
 font-size: 12px;
 text-align: center;
}

#normtable #header {
  font-size: 12px;
  font-weight: bold;
  background: #006699;
  color: #ffffff;
  text-align: center;
}

#normtable #greyrow {
  font-size: 12px;
  font-weight: bold;
  background: #cccccc;
  color: #000000;
  text-align: left;
}

#login {
 margin: 0px;
 text-align: center;
}

#login #header {
  font-size: 12px;
  font-weight: bold;
  background: #006699;
  color: #ffffff;
  text-align: center;
}

textarea {
 font-size: 11px;
 padding: 3px 4px;
 border: 1px solid #006699;
}

#q {
 font-size: 11px;
 padding: 3px 4px;
 border: 1px solid #006699;
}

#label {
  font-size: 12px;
  font-weight: bold;
  text-align: left;
}

#label p {
  font-size: 10px;
  font-weight: normal;
  text-align: left;
}

#centerfield {
  font-size: 12px;
  background: #ffffff center;
  text-align: center;
  vertical-align: middle;
}

#field {
  font-size: 12px;
  background: #ffffff left;
  text-align: left;
  vertical-align: middle;
}
