#submit
{
   background-color: #FFFFFF;
   border: #000000 1px solid;
   color: #000000;
   cursor: default;
}

input
{
   background-color: #FFFFFF;
   border: #000000 1px solid;
   color: #000000;
   cursor: default;
}

#normtable {
 font-size: 12px;
 text-align: center;
}

#normtable #header {
  font-size: 12px;
  font-weight: bold;
  background-image: url(http://www.peoplechat.org/images/row1/leftfill.png);

  color: #000000;
  text-align: center;
}

#normtable #greyrow {
  font-size: 12px;
  font-weight: bold;
  background: #cccccc;
  color: #000000;
  text-align: left;
}

#centerfield {
  font-size: 12px;
  background: #dddddd center;
  text-align: center;
  vertical-align: middle;
}

#field {
  font-size: 12px;
  background: #ffffff left;
  text-align: left;
  vertical-align: middle;
}
